<h1 mat-dialog-title>Create New Vacation</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="vacationData.name">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Location</mat-label>
    <input matInput [(ngModel)]="vacationData.location">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Start Date</mat-label>
    <input matInput [(ngModel)]="vacationData.startDate" type="date">
  </mat-form-field>

  <mat-form-field>
    <mat-label>End Date</mat-label>
    <input matInput [(ngModel)]="vacationData.endDate" type="date">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="vacationData.description"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button color="primary" (click)="save()">Save</button>
</div>